* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 1064px;
  margin: 64px auto;

  .head-box {
    .post_title {
      font-size: 32px;
      font-family: Roboto Slab;
      font-weight: 400;
      color: #1b1c1e;
      line-height: 68px;
      position: relative;

      .share_btn {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 19px;
        background-image: url("/assets/copy_link.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 12px;
      }

      .share_txt {
        display: none;
      }
    }

    .copy_box {
      position: absolute;
      left: 324px;
      font-size: 14px;
      padding: 12px 8px;
      background: #fff;
      box-shadow: 0px 1px 10px 0px rgba(69, 69, 69, 0.16);
      display: none;
      flex-direction: column;

      span {
        margin: 10px 0;
        line-height: normal;
      }

      .link {
        border: 1px solid #b9b7b7;
        padding: 8px 12px;
        color: #666;
        line-height: 24px;
      }

      .icons {
        display: flex;
        align-items: center;
      }

      img {
        width: 22px;
        height: 22px;
        margin-right: 8px;
        cursor: pointer;

        &:last-child {
          float: right;
          width: 16px;
          height: 16px;
          margin-left: auto;
        }
      }
    }

    .tags {
      margin: 10px 0 40px;

      .tag {
        display: inline-block;
        padding: 4px 24px;
        border-radius: 12px;
        background: #1774dc;
        color: #fff;
        margin-right: 24px;
        margin-top: 10px;
      }
    }
  }

  .comments-list {
    .comment-box {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 36px;
      margin-bottom: 8px;
      border-bottom: 1px solid #ededed;

      .user-box {
        width: 72px;
        margin-right: 24px;
        text-align: center;

        img {
          width: 56px;
          border-radius: 50%;
        }
        .author-name {
          color: #f1723a !important;
        }

        .name {
          color: #858585;
          font-size: 12px;
          a {
            color: #858585;
          }
        }
      }

      .info {
        max-width: 668px;
        margin-right: 48px;
        flex-shrink: 1;
        width: 70%;

        p {
          margin-bottom: 14px;
        }

        .date {
          font-size: 14px;
          font-family: Roboto;
          font-weight: 400;
          color: #858585;
          display: inline-block;
          margin-bottom: 6px;
          display: flex;
          justify-content: space-between;

          .order {
            font-size: 16px;
            color: #1774dc;
          }
        }

        .content {
          font-size: 18px;
          color: #1b1c1e;
          line-height: 24px;

          .text {
            display: inline-block;
            margin-bottom: 16px;
          }
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .btns {
        flex-shrink: 0;
        align-self: flex-end;
        user-select: none;
        width: 250px;
        text-align: right;

        .btn {
          color: #888;
          margin-right: 8px;
          cursor: pointer;

          img {
            width: 18px;
            height: 16px;
            margin-right: 6px;
          }
        }
        .btn-item {
          border: none;
          font-size: 15px;
        }
      }

      .add-form {
        padding: 4px;
        width: 82%;
        margin: 14px auto;
        display: none;

        .comment-area {
          outline: none;
          border: 1px solid #ccc;
          padding: 8px 6px;
          font-size: 16px;
          color: #666;
        }

        .save-btn {
          cursor: pointer;
          padding: 6px 14px;
          background: #1774dc;
          border-radius: 4px;
          color: #fff;
          margin-left: 18px;
          align-self: flex-end;
        }
      }

      .sub-comments {
        flex-basis: 100%;
        background: #edfaed;
        margin-left: 100px;
        margin-top: 14px;
        border-radius: 6px;
        padding: 16px 36px 8px 24px;

        img {
          width: 30px;
          height: 30px;
          margin-right: 6px;
        }

        .sub-comment {
          display: flex;
          margin-bottom: 20px;

          .right {
            flex: 1;

            .comment {
              margin-bottom: 8px;

              .name {
                color: #1774dc;
                margin-right: 6px;
              }

              .content {
                display: inline-block;
                word-break: break-all;
              }
            }

            .sub-info {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;

              .date {
                color: #858585;
              }

              .icons img {
                cursor: pointer;
                width: 18px;
                height: 18px;
                margin-right: 14px;
              }
            }
          }
        }
      }
    }
  }

  .pagi-box {
    position: relative;
    top: 28px;
    width: 100%;
    padding-bottom: 60px;

    .num-btns {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      a {
        color: #000;
      }

      img {
        width: 10px;
        height: 20px;
        margin-right: 18px;
        cursor: pointer;
      }

      .num {
        padding: 7px 14px;
        margin-right: 18px;
        border-radius: 2px;
        cursor: pointer;

        &.active {
          background: #1774dc;
          color: #fff;
        }
      }
    }

    .share-btns {
      position: absolute;
      right: 0;

      img {
        width: 90px;
        height: 30px;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }

  .topic-list {
    margin-top: 24px;

    .topics-box {
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(69, 69, 69, 0.08);
    }

    .section_title {
      font-size: 26px;
      font-weight: 400;
      line-height: 68px;
    }

    .topic {
      padding: 20px 28px 16px 24px;
      border: 1px solid #ededed;
      display: flex;

      &.blue_topic {
        background: #1774dc;
        color: #fff;
        border: none;

        .num {
          color: #fff;
          margin-right: 42px;
        }
      }

      .title {
        font-size: 18px;
        flex: 1;
        a {
          color: #000;
        }
      }

      .num {
        margin-right: 72px;
        color: #888;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .more-topic {
      margin-top: 24px;
      padding-left: 16px;

      .more-link {
        color: #1774dc;
        cursor: pointer;
      }
    }
  }

  .reply-modal {
    display: none;
    position: fixed;
    bottom: 4px;
    left: 50%;
    width: 1080px;
    height: auto;
    padding: 16px 32px;
    transform: translateX(-50%);
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background: #fff;

    .title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 16px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      img {
        cursor: pointer;
        width: 16px;
        margin-right: 10px;
      }
    }

    // .content {
    //     // height: 320px;
    //     // border: 1px solid #eee;
    //     // margin: 14px 0;
    // }

    .btn-box {
      margin-top: 20px;
      cursor: pointer;
      .btn {
        background: #1774dc;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        padding: 6px 8px;
      }
    }
  }
}

@media (max-width: 780px) {
  .header {
    padding: 14px 12px;

    .type {
      display: none;
      width: auto;
      height: auto;
      position: absolute;
      top: 56px;
      right: 16px;
      flex-direction: column;
      background: #fff;
      box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
      border-radius: 4px;

      div {
        padding: 12px 24px;
      }

      &-active {
        color: #333;
        border-bottom: none;
      }
    }

    .login-not {
      .hamburg-menu {
        display: flex;
      }
    }
  }

  .app {
    width: 100%;
    margin: 30px 0;
    overflow: hidden;

    .head-box {
      .post_title {
        font-size: 18px;
        font-weight: 500;
        padding-left: 14px;
        line-height: 32px;

        .share_btn {
          position: absolute;
          right: 14px;
          bottom: -46px;
        }

        .share_txt {
          display: none;
          display: inline-block;
          position: absolute;
          right: 64px;
          bottom: -38px;
        }

        .copy_box {
          left: 20px;
          top: 76px;
          width: calc(100% - 40px);
        }
      }

      .tags {
        padding-left: 14px;
      }
    }

    .comments-list {
      .comment-box {
        flex-direction: column;
        padding: 0 16px;

        .user-box {
          text-align: center;
          padding-bottom: 8px;
          margin-bottom: 8px;
          border-bottom: 1px solid #ededed;
        }

        .info {
          margin-right: 0;

          .date {
            margin-bottom: 14px;
          }

          .content {
            margin-bottom: 20px;

            .text {
              line-break: anywhere;
            }
          }
        }

        .btns {
          margin-bottom: 16px;

          .btn {
            margin-right: 8px;
          }
        }
        .add-form {
          width: 100%;
          display: none;
        }
        .sub-comments {
          margin-top: 0;
          margin-bottom: 12px;
          margin-left: 0;
          padding: 4px;
          .sub-comment {
            .sub-info {
              .add-form {
                .comment-area {
                  width: 78%;
                }
              }
            }
          }
        }
      }
    }

    .pagi-box {
      display: none;
    }

    .topic-list {
      padding: 0 14px;

      .topic {
        padding: 16px 12px;
        align-items: center;

        &.blue_topic {
          .num {
            margin-right: 28px;
          }

          .num:last-child {
            margin-right: 0;
          }
        }

        .title {
          margin-right: 24px;
        }

        .num {
          margin-right: 56px;
        }

        .view_num {
          display: none;
        }
      }
    }

    .reply-modal {
      width: 94vw;
      padding: 12px 16px;
      display: none;
    }
  }
}
