* {
  padding: 0;
  margin: 0;
}
//头部css
.header {
  width: 100%;
  height: 71px;
  padding: 0 15%;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0px 1px 10px 0px rgba(69, 69, 69, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .type {
    width: 380px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    div {
      cursor: pointer;
    }
    &-active {
      font-size: 18px;
      font-family: Roboto;
      font-weight: 400;
      color: #1774dc;
      border-bottom: 2px solid #1774dc;
      span {
        height: 25px;
      }
    }
  }
  .login {
    height: 57px;
    display: flex;
    align-items: center;
    position: relative;
    &-search {
      display: flex;
      align-items: center;
      img {
        margin: 0 8px 0 0;
        width: 17px;
        height: 17px;
      }
    }
    &-yes {
      display: flex;
      align-items: center;
      .message {
        width: 27px;
        height: 18px;
        background: #cccccc;
        border-radius: 9px;
        text-align: center;
        color: #fff;
        margin: 0 11px;
        font-size: 14px;
      }
      img {
        width: 57px;
        height: 57px;
      }
    }
    .plus-img {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("/assets/grey_plus.png");
      background-size: contain;
      cursor: pointer;
      margin-bottom: -3px;
    }
    &-not {
      display: flex;
      align-items: center;
      color: #8c8c8c;

      .login-box {
        margin: 0 0 0 8px;
        width: 70px;
        height: 28px;
        background: #1774dc;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        line-height: 28px;
        font-size: 14px;
        position: relative;

        &::before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 14px;
          margin: 0 4px -2px 0;
          background-image: url("/assets/user.png");
          background-size: contain;
        }
      }

      .hamburg-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        width: 18px;
        margin-left: 8px;
        margin-bottom: -4px;

        span {
          display: inline-block;
          width: 18px;
          border-bottom: 3px solid #999999;
          margin-bottom: 4px;
        }

        &.active {
          span {
            border-bottom: 3px solid #1774dc;
          }
        }
      }
    }
    #news {
      display: none;
      position: absolute;
      // display: block;
      top: 64px;
      right: 0;
      width: 137px;
      height: 151px;
      background: #ffffff;
      box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
      border-radius: 4px;
      font-size: 14px;
      font-weight: 300;
      color: #333333;
      .news-title {
        width: 137px;
        height: 108px;
        border-bottom: 1px solid #454545;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-line {
          font-family: Roboto;
          font-weight: 300;
          color: #333333;
          cursor: pointer;
          img {
            margin: 0 10px 0 14px;
            width: 12px;
            height: 12px;
          }
        }
      }
      .news-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        button {
          width: 77px;
          height: 25px;
          background: #f3654f;
          border-radius: 4px;
          border: 0;
          font-family: Roboto;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  }
}
//主要内容
.main {
  width: 1000px;
  margin: 0 auto;
  &-header {
    height: 184px;
    background: #1774dc;
    border-radius: 4px;
    display: flex;
    &-left {
      width: 97px;
      height: 100%;
      margin: 0 0 0 43px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image {
        width: 97px;
        height: 97px;
        background-color: red;
        border-radius: 50%;
      }
      .level {
        margin: 15px 0 0 0;
        color: #fff;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      margin: 0 0 0 24px;
      .motto {
        margin: 19px 0 0px 0;
      }
    }
  }
  &-contain {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    &-left {
      div {
        width: 110px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0 49px;
        list-style: none;
        span {
          width: 68px;
        }
      }
    }
    &-right {
      width: 80%;
      .every-colum {
        height: 109px;
        border-bottom: 1px solid #ededed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-image {
          width: 100px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 57px;
            height: 57px;
          }
        }
        &-content {
          height: 45px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-family: Roboto Slab;
            font-weight: 400;
            color: #1b1c1e;
          }
          .timeAndType {
            display: flex;
            align-items: center;
            .time {
              font-size: 14px;
              font-family: Avenir;
              font-weight: normal;
              color: #858585;
              margin: 16px 0 0 0;
            }
            .DGtype {
              background: #fe9372;
              margin: 16px 0 0 5px;
              border-radius: 11px;
              font-size: 14px;
              font-family: Roboto;
              font-weight: 400;
              color: #ffffff;
              padding: 2px 7px;
            }
            .QAtype {
              background: #72b4fe;
              margin: 16px 0 0 5px;
              border-radius: 11px;
              font-size: 14px;
              font-family: Roboto;
              font-weight: 400;
              color: #ffffff;
              padding: 2px 7px;
            }
          }
        }
        &-data {
          width: 150px;
          height: 45px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          img {
            width: 21px;
            height: 15px;
          }
          &-news {
            margin: 0 0 0 22px;
            img {
              width: 17px;
              height: 17px;
            }
          }
        }
      }
    }
  }
  .pagi-box {
    width: 100%;
    padding-bottom: 60px;

    .num-btns {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;

      img {
        width: 10px;
        height: 20px;
        margin-right: 18px;
        cursor: pointer;
      }

      .num {
        padding: 7px 14px;
        margin-right: 18px;
        border-radius: 2px;
        cursor: pointer;

        &.active {
          background: #1774dc;
          color: #fff;
        }
      }
    }

    .share-btns {
      position: absolute;
      right: 0;

      img {
        width: 90px;
        height: 30px;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 0 14px;
    height: 56px;
    .type {
      display: none;
      width: auto;
      height: auto;
      position: absolute;
      top: 56px;
      right: 16px;
      flex-direction: column;
      background: #fff;
      box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
      border-radius: 4px;
      div {
        cursor: pointer;
        padding: 12px 24px;
      }
      &-active {
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        color: #1774dc;
        border-bottom: 2px solid #1774dc;
        span {
          height: 25px;
        }
      }
    }
    .login {
      height: 57px;
      display: flex;
      align-items: center;
      &-search {
        display: flex;
        align-items: center;
        img {
          margin: 0 8px 0 0;
          width: 17px;
          height: 17px;
        }
      }
      .new_post {
        display: none;
      }
      &-yes {
        img {
          width: 46px;
          height: 46px;
        }
      }
      &-not {
        display: flex;
        align-items: center;
        .login-box {
          width: 70px;
          height: 27px;
          background: #1774dc;
          border-radius: 4px;
          color: #fff;
          text-align: center;
          line-height: 27px;
          font-size: 14px;
        }
        .hamburg-menu {
          display: flex;
        }
      }
      #news {
        width: 137px;
        height: 151px;
        background: #ffffff;
        box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
        border-radius: 4px;
        .news-title {
          display: flex;
        }
        .line-active {
          background-color: #1774dc;
        }
      }
    }
  }
  .main {
    width: 100%;
    &-header {
      height: 131px;
      background: #1774dc;
      border-radius: 4px;
      display: flex;
      &-left {
        width: 97px;
        height: 100%;
        margin: 0 0 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image {
          width: 73px;
          height: 73px;
          background-color: red;
          border-radius: 50%;
        }
        .level {
          margin: 11px 0 0 0;
          font-size: 14px;
          color: #fff;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        margin: 0 0 0 1px;
        font-size: 14px;
        .state {
          margin: 17px 0 9px;
        }
      }
    }
    &-contain {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 0;
      &-left {
        margin: 0 20px;
        border-bottom: 1px solid #ededed;
        div {
          width: 105px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 30px 10px 16px 0;
          list-style: none;
          span {
            width: 68px;
          }
        }
      }
      &-right {
        width: 100%;
        .every-colum {
          height: 109px;
          border-bottom: 1px solid #ededed;
          display: flex;
          justify-content: space-between;
          margin: 0 20px;
          align-items: center;
          &-image {
            display: none;
          }
          &-content {
            height: 45px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
              font-size: 14px;
              font-family: Avenir 65;
              font-weight: 500;
              color: #1b1c1e;
              line-height: 15px;
            }
            .timeAndType {
              display: flex;
              align-items: center;
              .time {
                font-size: 12px;
                font-family: Avenir-Medium;
                font-weight: normal;
                color: #858585;
                margin: 16px 0 0 0;
              }
              .DGtype {
                background: #fe9372;
                margin: 16px 0 0 5px;
                border-radius: 11px;
                font-size: 12px;
                font-family: Roboto;
                font-weight: 300;
                color: #ffffff;
                padding: 2px 7px;
              }
              .QAtype {
                background: #72b4fe;
                margin: 16px 0 0 5px;
                border-radius: 11px;
                font-size: 12px;
                font-family: Roboto;
                font-weight: 300;
                color: #ffffff;
                padding: 2px 7px;
              }
            }
          }
          &-data {
            width: 15%;
            display: flex;
            align-items: end;
            justify-content: center;
            flex-direction: column;
            img {
              width: 17px;
              height: 17px;
            }
            span {
              width: 20px;
            }
            img {
              width: 16px;
              height: 11px;
            }
            &-news {
              margin: 5px 0 0 0;
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
    .pagi-box {
      display: none;
    }
  }
}
