* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 1020px;
  margin: 48px auto;
  color: #2f3541;
}

.app .login-title h1 {
  margin-bottom: 36px;
}

.app .login-form {
  display: flex;
  justify-content: space-around;
}

.app .login-form .login-part {
  margin-right: 32px;
}

.app .login-form .text-box {
  width: 478px;
}

.app .login-form .text-box .mid-title {
  font-size: 1.8rem;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
  padding-bottom: 12px;
}

.app .login-form .text-box .info {
  margin: 0 0 24px;
}

.app .login-form .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.app .login-form .form-item .title {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.app .login-form .form-item input {
  height: 40px;
  outline: 0;
  padding: 0 14px;
  border: 1px solid #eaf5fa;
  color: #2f3541;
  font-size: 15px;
}

.app .login-form .forget-pass {
  display: flex;
  justify-content: space-between;
}

.app .login-form .forget-pass .loctek-link {
  color: #1b76de;
  text-decoration: none;
}

.app .login-form .forget-pass .loctek-link:hover {
  color: #8f929a;
}

.app .login-form .forget-pass .action-btn {
  cursor: pointer;
  color: #fff;
  background-color: #1b76de;
  padding: 6px 8px;
  border-radius: 4px;
}

.app .login-form .create-part .action-btn {
  color: #fff;
  background-color: #1b76de;
  padding: 6px 8px;
  border-radius: 4px;
  float: right;
}

@media (max-width: 1080px) {
  .header {
    padding: 14px 12px;
  }

  .header .type {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    top: 56px;
    right: 16px;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
    border-radius: 4px;
  }

  .header .type div {
    padding: 12px 24px;
  }

  .header .type-active {
    color: #333;
    border-bottom: none;
  }

  .header .login-not .hamburg-menu {
    display: flex;
  }

  .app {
    width: 100%;
    padding: 24px 16px;
    overflow: hidden;
  }

  .app .login-form {
    flex-direction: column;
    max-width: 100%;
    margin: 24px auto;
  }

  .app .login-form .login-part {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .app .login-form .login-part .text-box {
    width: auto;
  }

  .app .login-form .text-box .info {
    width: 96%;
    font-size: 13px;
    width: 80%;
  }
}

.form-row {
  display: flex;
  margin-bottom: 28px;
  align-items: center;
}

.captcha {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #cfc;
}

.action-btn {
  color: #fff;
  background-color: #1b76de;
  padding: 12px 10px;
  margin-left: 8px;
  box-shadow: 0 3px 10px 0 rgba(28, 80, 162, 0.15);
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  color: #1b76de;
}

.link:hover {
  color: #8f929a;
}

.is-invalid {
  border-color: #e3342f;
  padding-right: calc(1.6em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns=http://www.w3.org/2000/svg width=12 height=12 fill=none stroke=%23e3342f viewBox=0 0 12 12%3e%3ccircle cx=6 cy=6 r=4.5/%3e%3cpath stroke-linejoin=round d=M5.8 3.6h.4L6 6.5z/%3e%3ccircle cx=6 cy=8.2 r=.6 fill=%23e3342f stroke=none/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}

