* {
  padding: 0;
  margin: 0;
}

.post-box {
  margin: 64px 288px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 42px 32px;
  display: flex;
  flex-direction: column;
}

.post-box .post-title {
  padding: 16px 20px;
  color: #666;
  border-radius: 4px;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-box .post-title:focus {
  outline: none;
  border: 1px solid #1774dc;
}

.post-box .class {
  padding: 16px 20px;
  color: #666;
  border-radius: 4px;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-box .class:focus {
  outline: none;
  border: 1px solid #1774dc;
}

.post-box .editor {
  height: 320px;
  margin-bottom: 64px;
  border: 1px solid #000;
  opacity: 0.1;
  border-radius: 4px;
}

.post-box .save-btn {
  padding: 16px;
  width: 108px;
  box-sizing: border-box;
  color: #fff;
  background: #1774dc;
  border-radius: 4px;
  margin-top: 64px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .header {
    padding: 14px 12px;
  }

  .header .type {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    top: 56px;
    right: 16px;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
    border-radius: 4px;
  }

  .header .type div {
    padding: 12px 24px;
  }

  .header .type-active {
    color: #333;
    border-bottom: none;
  }

  .header .login-not .hamburg-menu {
    display: flex;
  }

  .post-box {
    margin: 24px 16px;
    padding: 42px 12px;
  }
}

