* {
  padding: 0;
  margin: 0;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

.main-header {
  height: 184px;
  background: #1774dc;
  border-radius: 4px;
  display: flex;
}

.main-header-left {
  width: 97px;
  height: 100%;
  margin: 0 0 0 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header-left img {
  width: 97px;
  height: 97px;
  border-radius: 50%;
}

.main-header-left .level {
  margin: 15px 0 0 0;
  color: #fff;
}

.main-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 0 0 0 24px;
}

.main-header-right .motto {
  margin: 19px 0 0px 0;
}

.main-contain {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.main-contain-left a {
  width: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 45px;
  list-style: none;
  cursor: pointer;
}

.main-contain-left a span {
  width: 68px;
}

.main-contain-left .navbar-active {
  color: #1774dc;
}

.main-contain-right {
  width: 80%;
}

.main-contain-right .every-colum {
  height: 109px;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-contain-right .every-colum-image {
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-contain-right .every-colum-image img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.main-contain-right .every-colum-content {
  height: 45px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-contain-right .every-colum-content .title {
  font-family: Roboto Slab;
  font-weight: 400;
  color: #1b1c1e;
  cursor: pointer;
}

.main-contain-right .every-colum-content .timeAndType {
  display: flex;
  align-items: center;
}

.main-contain-right .every-colum-content .timeAndType .time {
  font-size: 14px;
  font-family: Avenir;
  font-weight: normal;
  color: #858585;
  margin: 16px 0 0 0;
}

.main-contain-right .every-colum-content .timeAndType .DGtype {
  background: #fe9372;
  margin: 16px 0 0 5px;
  border-radius: 11px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #ffffff;
  padding: 2px 7px;
  cursor: pointer;
}

.main-contain-right .every-colum-content .timeAndType .QAtype {
  background: #72b4fe;
  margin: 16px 0 0 5px;
  border-radius: 11px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  color: #ffffff;
  padding: 2px 7px;
  cursor: pointer;
}

.main-contain-right .every-colum-data {
  width: 150px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-contain-right .every-colum-data img {
  width: 21px;
  height: 15px;
}

.main-contain-right .every-colum-data-news {
  margin: 0 0 0 22px;
  cursor: pointer;
}

.main-contain-right .every-colum-data-news img {
  width: 17px;
  height: 17px;
}

.main .pagi-box {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 40px;
}

.main .pagi-box .num-btns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.main .pagi-box .num-btns img {
  width: 10px;
  height: 20px;
  margin-right: 18px;
  cursor: pointer;
}

.main .pagi-box .num-btns .num {
  padding: 7px 14px;
  margin-right: 18px;
  border-radius: 2px;
  cursor: pointer;
}

.main .pagi-box .num-btns .num.active {
  background: #1774dc;
  color: #fff;
}

.main .pagi-box .share-btns {
  position: absolute;
  right: 0;
}

.main .pagi-box .share-btns img {
  width: 90px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 0 14px;
    height: 56px;
  }

  .header .type {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    top: 56px;
    right: 16px;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
    border-radius: 4px;
  }

  .header .type div {
    cursor: pointer;
    padding: 12px 24px;
  }

  .header .type-active {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    color: #1774dc;
    border-bottom: 2px solid #1774dc;
  }

  .header .type-active span {
    height: 25px;
  }

  .header .login {
    height: 57px;
    display: flex;
    align-items: center;
  }

  .header .login-search {
    display: flex;
    align-items: center;
  }

  .header .login-search img {
    margin: 0 8px 0 0;
    width: 17px;
    height: 17px;
  }

  .header .login .new_post {
    display: none;
  }

  .header .login-yes img {
    width: 46px;
    height: 46px;
  }

  .header .login-not {
    display: flex;
    align-items: center;
  }

  .header .login-not .login-box {
    width: 70px;
    height: 27px;
    background: #1774dc;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
  }

  .header .login-not .hamburg-menu {
    display: flex;
  }

  .header .login #news {
    width: 137px;
    height: 151px;
    background: #ffffff;
    box-shadow: 0px 1px 8px 0px rgba(69, 69, 69, 0.22);
    border-radius: 4px;
  }

  .header .login #news .news-title {
    display: flex;
  }

  .header .login #news .line-active {
    background-color: #1774dc;
  }

  .main {
    width: 100%;
  }

  .main-header {
    height: 131px;
    background: #1774dc;
    border-radius: 4px;
    display: flex;
  }

  .main-header-left {
    width: 97px;
    height: 100%;
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-header-left .image {
    width: 73px;
    height: 73px;
    background-color: red;
    border-radius: 50%;
  }

  .main-header-left .level {
    margin: 11px 0 0 0;
    font-size: 14px;
    color: #fff;
  }

  .main-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin: 0 0 0 1px;
    font-size: 14px;
  }

  .main-header-right .state {
    margin: 17px 0 9px;
  }

  .main-contain {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
  }

  .main-contain-left {
    margin: 0 20px;
    border-bottom: 1px solid #ededed;
  }

  .main-contain-left div {
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px 16px 0;
    list-style: none;
  }

  .main-contain-left div span {
    width: 68px;
  }

  .main-contain-right {
    width: 100%;
  }

  .main-contain-right .every-colum {
    height: 109px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
  }

  .main-contain-right .every-colum-image {
    display: none;
  }

  .main-contain-right .every-colum-content {
    height: 45px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-contain-right .every-colum-content .title {
    font-size: 14px;
    font-family: Avenir 65;
    font-weight: 500;
    color: #1b1c1e;
    line-height: 15px;
  }

  .main-contain-right .every-colum-content .timeAndType {
    display: flex;
    align-items: center;
  }

  .main-contain-right .every-colum-content .timeAndType .time {
    font-size: 12px;
    font-family: Avenir-Medium;
    font-weight: normal;
    color: #858585;
    margin: 16px 0 0 0;
  }

  .main-contain-right .every-colum-content .timeAndType .DGtype {
    background: #fe9372;
    margin: 16px 0 0 5px;
    border-radius: 11px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 300;
    color: #ffffff;
    padding: 2px 7px;
  }

  .main-contain-right .every-colum-content .timeAndType .QAtype {
    background: #72b4fe;
    margin: 16px 0 0 5px;
    border-radius: 11px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 300;
    color: #ffffff;
    padding: 2px 7px;
  }

  .main-contain-right .every-colum-data {
    width: 15%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
  }

  .main-contain-right .every-colum-data img {
    width: 17px;
    height: 17px;
  }

  .main-contain-right .every-colum-data span {
    width: 20px;
  }

  .main-contain-right .every-colum-data img {
    width: 16px;
    height: 11px;
  }

  .main-contain-right .every-colum-data-news {
    margin: 5px 0 0 0;
  }

  .main-contain-right .every-colum-data-news img {
    width: 14px;
    height: 14px;
  }

  .main .pagi-box {
    display: none;
  }
}

